<article class="project">
  <header>
    <h1><%= item.name %></h1>
  </header>

  <ul class="involved">
    <% item.involvements.each do |involvement| %>
      <li>
        <li>
          <span class="user">
            <span class="avatar"><%= image_tag avatar_url involvement.user %></span>
            <span class="name"><%= involvement.user.name %></span>
            <span class="role">(<%= involvement.role.name %>)</span>
          </span>
        </li>
      </li>
    <% end %>
  </ul>

  <div class="content">
    <% if item.goal %>
      <p><%= item.goal %></p>
    <% end %>
  </div>

  <section class="tasks">
    <h1>Tasks</h1>

    <% if item.wunderlist_task_list %>
      <ul>
        <% item.wunderlist_task_list.tasks.each do |task| %>
          <li <% if task['completed_by_id'] %>class="completed"<% end %>>
            <input type="checkbox" disabled <% if task['completed_by_id'] %>checked<% end %>>
            <%= task['title'] %>
          </li>
        <% end %>
      </ul>

      <% if can_write item %>
        <%= form_for item.wunderlist_task_list, url: project_task_list_path(item) do |f| %>
          <p>
          <%= hidden_field_tag :list_id, item.wunderlist_task_list.wunderlist_id %>
            <%= f.submit %>
          </p>
        <% end %>
      <% end %>
    <% end %>

    <% if can_write item %>
      <p>
        <%= link_to 'Attach new Wunderlist', project_task_list_path(item) %>
      </p>
    <% end %>
  </section>

  <% if can_write item %>
    <nav>
      <p>
        <%= link_to 'Edit', edit_project_path(item) %>
        <%= link_to 'Destroy', project_path(item), method: :delete,
                    data: { confirm: 'Are you sure?' } %>
      </p>
    </nav>
  <% end %>
</article>
