<!DOCTYPE html>
<html>
<head>
  <title>geendashboard</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <script src="https://login.persona.org/include.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

  <header id="site">
    <h1><%= link_to 'Home', root_url %></h1>
    <% unless current_user.nil? %>
      <p>
        <%= link_to user_url current_user do %>
          <span class="avatar"><%= image_tag avatar_url current_user %></span>
        <% end %>
        <%= link_to 'Sign out', sign_out_path, method: :delete %>
        <% unless current_user.roles.where.not(name: 'client').empty? %>
          <%= link_to 'Docs', docs_path %>
          <%= link_to 'Roles', roles_path %>
          <%= link_to 'Wunderlist', wunderlist_accounts_path %>
        <% end %>
      </p>
    <% else %>
      <form id='persona_form' action='/auth/browser_id/callback' method='GET'>
        <input type='hidden' name='assertion'/>
        <button type='submit'>Sign in</button>
      </form>
    <% end %>
  </header>

  <div id="content">
<%= yield %>
  </div>

</body>
</html>
